#root{
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-login {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* background-image: url(../../asset/images/background_2.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.user-login-form {
  width: 350px;
  padding: 24px 36px;
  border-radius: 4px;
  background: rgba(255, 255, 255, .8);
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}