.home-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.home-layout {
  flex-direction: row;
}

.home-main {
  height: 100vh;
}

.home-main .home-main__header, .home-main .home-main__content{
  background: #fff;
}

.home-main .home-main__header {
  padding: 0;
  padding-right: 32px;
  display: flex;
  justify-content: space-between;
  height: 48px;
}


.home-main__header .trigger {
  font-size: 18px;
  line-height: 48px;
  padding: 0 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.home-main__header .trigger:hover {
  color: #1890ff;
}
.home-main__header .home-avatar{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

/* 右侧头像区域 */
.home-main__header .ant-dropdown-trigger{
  padding:  0 12px;
  display: flex;
  align-items: center;
}
.home-main__header .ant-dropdown-trigger:hover {
  background: rgba(0, 0, 0, 0.03);
}
.home-main__header .home-user-name{
  margin-left: 8px;
  line-height: 48px;
}

.home-main__wrap {
  margin-top: 16px;
  flex: 1;
}

.home-main__wrap .home-main_breadcrumb {
  margin-left: 16px;
  margin-bottom: 16px;
}

.home-main .home-main__content {
  flex: 1;
  margin: 0px 16px 24px;
  padding: 24px;
  min-height: 280px;
}
